@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: "Open Sans", serif;
  color: #FFFFFF;
  background-color: #141d26;
}

h1 {
  text-align: center;
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 8px;
}

h2 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
}

div {
  /*border-width: 4px;*/
  /*border-radius: 14px;*/
  /*border-color: #191414;*/
  padding: 18px;
  border: 4px solid black;
  border-radius: 12px;
  margin: 20px;
  background-color: #243447;
}

pre.info {
  text-align: center;
  border: 4px solid black;
  border-radius: 12px;
  padding: 18px;
  margin: 20px;
  background-color: #243447;
}

a {
  text-decoration: none;
  color: #c51f5d;
}

.heart {
  animation: beat .25s infinite alternate;
}

/* Heart beat animation */
@keyframes beat{
  from {font-size: 1em; color: white;}
  to {font-size: 1.2em; color: yellow;}
}
