@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
	height: auto;
	width: auto;
	padding-left: 18px;
	padding-right: 18px;
	padding-top: 12px;
	font-family: 'Roboto', sans-serif;
	background: url("https://images.wallpapersden.com/image/download/rainbow-4k-lines_70379_3840x2160.jpg");
	background-size: cover;
	margin-bottom: 14px;
}

header {
	background: #1DA1F2;
	width: auto;
	height: 240px;
	padding: 20px;
	border-right: 10px;
	border-radius: 10px;
	/*color: rgb(142, 142, 147)*/
	color: #FFFFFF;
}

p.Fn {
	font-size: 36px;
	width: 300px;
	margin: 0 600px 0 20px;
	display: inline-block;
	overflow: auto;
}

/*annotation {*/
/*    width: 140px;*/
/*    height: 0.5em;*/
/*    background-color: #BDFCC9;*/
/*}*/

p.object {
	font-size: 18px;
	width: 700px;
	margin: 50px 380px 12px 20px;
	display: inline-block;
	overflow: auto;
}

section {
	margin-top: 20px;
	width: auto;
	height: auto;
	background-color: #F5F8FA;
	padding: 18px;
	border-radius: 10px;
}

p.Adr {
	display: inline-block;
	float: left;
	margin-left: 19px;
}

p.Tel {
	display: inline-block;
	margin-left: 26%;
}

p.Email {
	display: inline-block;
	float: right;
	margin-right: 19px;
}

h2 {
	color: #1DA1F2;
	margin-left: 16px;
}

a.blue {
	color: #1DA1F2;
	text-decoration:none;
}

a.white {
	color: rgb(255,255,255);
	text-decoration:none;
}

p.block_1_section {
	width: 46%;
	height: 100px;
	/*padding: 10px;*/
	display: inline-block;
	/*float: top;*/
	/*float: right;*/
	/*margin-top: -16px;*/
	margin: 16px;
	overflow: auto;
}

p.block_2_section {
	display: inline-block;
	overflow: auto;
	margin-left: 4.6%;
}

img.chenz23 {
	float: right;
	/*float: top;*/
	display: inline-block;
	overflow: auto;
	margin-right: 50px;
	margin-top: -30px;
	border: 3px solid #E1E8ED;
	border-radius: 1px;
}



