@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    height: auto;
    width: auto;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 12px;
    font-family: Open Sans;
}

header {
    background:  #00A4EF;
    width: auto;
    height: 200px;
    padding: 20px;
}

p.name {
    font-size: 36px;
    width: 300px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 20px;
}

/*annotation {*/
/*    width: 140px;*/
/*    height: 0.5em;*/
/*    background-color: #BDFCC9;*/
/*}*/

p.object {
    font-size: 18px;
    width: 700px;
    margin-top: 50px;
    margin-bottom: 0px;
    margin-left: 20px;
}

section {
    margin-top: 0px;
    width: auto;
    height: auto;
    background-color: ghostwhite;
}

p.infos_1 {
    display: inline-block;
    float: left;
    margin-left: 19px;
}

p.infos_2 {
    display: inline-block;
    margin-left: 26%;
}

p.infos_3 {
    display: inline-block;
    float: right;
    margin-right: 19px;
}

h2 {
    color: #00A4EF;
}

a {
    color: black;
}

