@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    height: auto;
    width: auto;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 12px;
    font-family: Open Sans;
}

header {
    background: rgb(90,200,250);
    width: auto;
    height: 240px;
    padding: 20px;
    border-right: 10px;
    border-radius: 10px;
    /*color: rgb(142, 142, 147)*/
}

p.fn {
    font-size: 36px;
    width: 300px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 20px;
}

/*annotation {*/
/*    width: 140px;*/
/*    height: 0.5em;*/
/*    background-color: #BDFCC9;*/
/*}*/

p.object {
    font-size: 18px;
    width: 700px;
    margin-top: 50px;
    margin-bottom: 12px;
    margin-left: 20px;
}

section {
    margin-top: 20px;
    width: auto;
    height: auto;
    background-color: ghostwhite;
    padding: 18px;
    border-radius: 10px;
}

subinfos {
    width: auto;
    height: auto;
    margin-top: 10px;
}
p.Adr {
    display: inline-block;
    float: left;
    margin-left: 19px;
}

p.Tel {
    display: inline-block;
    margin-left: 26%;
}

p.Email {
    display: inline-block;
    float: right;
    margin-right: 19px;
}

h2 {
    color: rgb(90,200,250);
    margin-left: 16px;
}

a {
    color: rgb(255,204,0);
}

p.block_1_section {
    width: 46%;
    height: 100px;
    /*padding: 10px;*/
    display: inline-block;
    /*float: top;*/
    /*float: right;*/
    /*margin-top: -16px;*/
    margin: 16px;
    overflow: auto;
}

p.block_2_section {
    display: inline-block;
    overflow: auto;
    margin-left: 4.6%;
}



