@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: "Open Sans", serif;
  margin: 30px 40px 30px 40px;
  height: auto;
  background-color: #E1E8ED;
}

header {
  text-align: center;
  line-height: 10px;
  margin: 30px;
  color: #1DA1F2;
}

h4 {
  text-align: center;
  background-color: #1DA1F2;
  /*margin: 0px;*/
  padding: 10px;
  color: white;
  border-radius: 4px;
  width: 80%;
  margin-left: 10%;
  border: 2px solid white;
}

/* table formatting */
.studentsTable, .coursesTable, .gradesTable {
  float: left;
  margin: 30px auto 50px 20px;
  width: 30%;
  border: 4px solid white;
  border-radius: 16px;
  display: inline-block;
  height: auto;
  background: url("https://i.pinimg.com/originals/78/e2/0c/78e20cce7ea8b3fc09b6d6a79e046e3e.jpg");
  background-size: cover;
}

table, td {
  margin: 10px auto 10px auto;
  text-align: center;
  padding: 7px;
  border: 1px solid #212121;
  border-radius: 2px;
}

/* form formatting */
.sorting, .buttons {
  color: #1DA1F2;
  display: flex;
  justify-content: center;
  margin: 5px 0 10px 0;
}

.addGrade {
  margin: 10px;
}

/* button formatting */
input[type=submit], button[type=submit] {
  padding: 5px;
  border-radius: 5px;
  font-family: "Open Sans", serif;
  font-size: 15px;
  font-weight: bold;
  color: #1DA1F2;
  background-color: white;
  border: 1px solid #1DA1F2;
}

input[type=submit]:hover, button[type=submit]:hover {
  cursor: pointer;
  background-color: #1DA1F2;
  color: white
}

select {
  padding: 5px;
  border-radius: 5px;
  border: 5px;
  font-size: 12px;
  margin: 0 5px 0 5px;
}

div.input_block{
  text-align: center;
}

input[type=int], input[type=text]{
  padding: 6px;
  border: 2px solid white;
  margin-bottom: 4px;
  margin-top: 4px;
  background: none;
  color: #1DA1F2;
  font-weight: bold;
}

input[type=int]:hover, input[type=text]:hover {
  border-color: #1DA1F2;
}

span.input_type {
  color: #1DA1F2;
  font-weight: bolder;
}

span.sort_word {
  margin-top: 2.5px;
  font-weight: bold;
}

#signedwords {
  color: grey;
  font-weight: bold;
}