div {
  position: relative;

  border: solid black;
  border-width: 2px;
  border-radius: 12px;
  margin-left: 30%;
  margin-right: 30%;
  padding: 20px 20px 100px 20px;
}

pre {
  font-size: 20px;
  font-weight: 700;
}

input[type=submit] {
  background: lightGray;
  width: 20%;
  font-size: 15px;
  font-weight: 700;
  border-radius: 7px;
  margin-left: 13px;
  margin-top: 10px;
}

input[type=button].clean {
  width: 40%;
}


input[type=button] {
  background: lightGray;
  width: 20%;
  font-size: 20px;
  font-weight: 900;
  border-radius: 7px;
  margin-left: 13px;
  margin-top: 10px;
}

input[type=button]:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

input[type=button]:hover {
  background-color: #003300;
  color: white;
}

input[type = text] {
  position: relative;
  display: block;
  width: 90%;
  margin: 5px auto;
  font-size: 20px;
  padding: 10px;
  box-shadow: 4px 0 12px black inset;
}
