#inside-calc{
	position: relative;
  width: 500px;
  border: 2px solid black;
  border-radius: 12px;
  margin: 0px auto;
  padding: 20px 20px 100px 20px;
}

#name{
  position: relative;
  margin-top: 15px;
}
#name p{
  font-size: 20px;
  font-weight: 900;
	float: right;
}