@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');

body {
  color: #E4002B;
  background-image: url("bp_Arasaka_Mantis_Blades.jpg");
  background-size: cover;
}
#container {
  font-family: "Share Tech Mono", serif;
  position: relative;
  width: 400px;
  border: 2px solid black;
  border-radius: 12px;
  margin-left: 80px;
  float: left;
  padding: 20px 20px 60px 20px;
  background-image: url("bp_Kang_Tao_G-58_DIAN.jpg");
  background-size: cover;
  border: 4px solid #f8ef02;
  box-shadow: 1px 0px 16px #f8ef02 inset;
}

#result {
  font-size: 20px;
  font-weight: bolder;
}

input[type=text] {
  position: relative;
  display: block;
  width: 90%;
  margin: 5px auto;
  background: black;
  color: #f8ef02;
  font-family: "Share Tech Mono", serif;
  font-size: 20px;
  padding: 10px;
  border: 2px solid #f8ef02;
  border-radius: 10px;
  box-shadow: 2px 0px 12px #f8ef02 inset;
}

input[type=submit] {
  font-family: "Share Tech Mono", serif;
  background: black;
  color: #f8ef02;
  width: 20%;
  font-size: 15px;
  margin-left: 13px;
  margin-top: 10px;
  padding: 5px;
  border-radius: 7px;
}

input[type=button].clean {
  width: 45%;
}

input[type=button] {
  font-family: "Share Tech Mono", serif;
  background: black;
  color: #67e3f3;
  width: 20%;
  font-size: 20px;
  font-weight: 900;
  border-radius: 7px;
  margin-left: 13px;
  margin-top: 5px;
  margin-bottom: 5px;
}

input[type=button]:active {
  background-color: #67e3f3;
  color: black;
  transform: translateY(2px);
}

input[type=button]:hover {
  background-color: white;
  color: black;
}

p.vp {
  text-align: center;
  font-size: 20px;
  background-color: black;
  padding: 2px;
  border: 2px solid;
  border-radius: 3px;
}

#result {
  text-align: center;
  font-family: "Share Tech Mono", serif;
}