

#realbody0{
  position:absolute;
  left:12%;
  width:1100px;
  background-color: #ffffff;
  border-style: ridge;
  border-width: 5px;
  border-color: #000000;
}

.topic0{
  text-align: center;
  background: url(1.jpg)top right;
  background-size: cover;
  position: relative;
  height: 200px;
}
.sectionheader0
{
  border-bottom-style: double;
  color: #00802b;
}
.name0{
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  font-size: 70px;
  font-family: 'Mansalva', cursive;
  color: #ffffff;
}

.parent0 {
  width: 100%;
  float: left;
}

.child10 {
  width: 33%;
  float: left;
}

.child20 {
  width: 33%;
  float: left;
}

.child30{
  width: 33%;
  float: left;
}
.parent00 {
  width: 100%;
  float: left;
}

.child0{
  width: 50%;
  float: left;
}
.chil0{
  width: 50%;
  float: left;
}
.de0{
  color: #ff0000;
}
